#mainNav {
    background-color: #222222; }
    #mainNav .navbar-toggler {
      font-size: 12px;
      right: 0;
      padding: 13px;
      text-transform: uppercase;
      color: white;
      border: 0;
      background-color: #C0471C;
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      text-transform: uppercase; }
    #mainNav .navbar-brand {
      color: #C0471C;
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, cursive; }
      #mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
        color: #C0471C; }
    #mainNav .navbar-nav .nav-item .nav-link {
      font-size: 90%;
      font-weight: 400;
      padding: 0.75em 0;
      letter-spacing: 1px;
      color: white;
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      text-transform: uppercase; }
      #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
        color: #C0471C; }
  
  @media (min-width: 992px) {
    #mainNav {
      border: none;
      background-color: black; }
      #mainNav .navbar-brand {
        font-size: 1.75em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s; }
      #mainNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 1em !important; }
      #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: #222222; }
        #mainNav.navbar-shrink .navbar-brand {
          font-size: 1.25em;
          padding: 12px 0; } }


footer {
    padding: 25px 0;
    text-align: center; 
    background-color: black;
    color: #eeeeee;
}
footer span.copyright {
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase; }
footer ul.quicklinks {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase; }

/* Side bar CSS */
#mySidenav div {
  position: fixed; /* Position them relative to the browser window */
  left: -130px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 150px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 1rem; /* Increase font size */
  color: black; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav div:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
  color: white;
}

#mySidenav div:focus-within {
  left: 0; /* On mouse-over, make the elements appear as they should */
  color: white;
}

/* The about link: 20px from the top with a green background */
.sidenav-body {
  top: 20%;
  background-color: black;
}
